@import
  "settings",
  "foundation/functions",
  "foundation/components/buttons",
  "foundation/components/global";
 
body.auth
{
	background-image: url('../img/auth-back.jpg');
			
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #000000;
}

.masthead
{
	width: 100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position: relative;

	#gmap
	{
		height: 100%;
		left: 0;
		position: absolute !important; 
		top: 0;
		width: 100%;
		z-index: 1; 
	}

	.row
	{
		position: relative;
		z-index: 2;
	}
}

.top-bar
{
	.name
	{
		h1
		{
			font-family: $body-font-family;
		}
	}
}

footer
{
	padding-bottom: 20px;
	font-size: rem_calc(12);
}


button, .button 
{

  &.facebook  { @include button-style($bg:$facebook-color); }

  &.disabled, &[disabled] { @include button-style($bg:$primary-color, $disabled:true);
    &.facebook { @include button-style($bg:$facebook-color, $disabled:true); }
  }
}

.panel.overlay
{
	border: none;
	background: rgba(0,0,0,0.5);
	margin-bottom: 0;

	h1, h2, h3, h4, h5, h6, p, label
	{
		color: #fff;
	}
}

.advert
{
	margin: rem_calc(16) 0;
}

.avatar
{
	@include radius(50px);
}

@media only screen and (max-width: 40em)
{
	.push-top
	{
		margin-top: 0px;
	}

	.masthead
	{
		height: inherit;
	}
}

@media #{$medium-up} 
{
	.push-top
	{
		margin-top: 30px;
	}

	.masthead
	{
		height: 300px;
	}

}

@media #{$large-up} 
{
	.push-top
	{
		margin-top: 50px;
	}

	.masthead
	{
		height: 400px;
	}
}